.navbar {
    background-color: #ff8c00;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #d4d4d4 !important;
}

.navbar .nav-link {
    color: rgb(29, 27, 27) !important;
    margin-left: 15px;
}

.navbar .nav-link:hover {
    color: #ffcc00 !important;
}